@import url("http://fonts.cdnfonts.com/css/muli?styles=19919,19916,19912,19908");

.errorContainer {
    font-size: 10px;
}

#btnCreateEventModal{
    background-color: #ffcfa2;
    color: black;
    border-color: transparent;
}

#btnCreateEventModal:hover{
    background-color: black;
    color: #ffcfa2;
}