/*input {
    height: 85px;
    width: 100px;
    object-fit: cover;
}*/

.startAndEndDate{
    color: #ffb978;
    font-weight: bolder;
}

p {
    font-size: xx-small;
}

.gray-text {
    color: gray;
}

.col {
    margin: 0;
}

