/*input {
    height: 85px;
    width: 100px;
    object-fit: cover;
}*/

p {
    font-size: xx-small;
}

.gray-text {
    color: gray;
}

.orange-text {
    color: #ffb875;
}

.col {
    margin: 0;
}