@import url("https://fonts.cdnfonts.com/css/muli?styles=19919,19916,19912,19908");

.card {
  border-radius: 20px;
  width: 350px;
  font-family: "Muli", sans-serif;
}

.card-header {
  height: 90px;
  background-size: cover;
}

.signInTitle {
  font-size: 30px;
  font-weight: bold;
  color: black;
}

.qplTitle {
  font-weight: bold;
  font-size: 12px;
  color: black;
}

.logoQPL {
  width: 80px;
  height: 80px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.logoQPL img {
  max-height: 100%;
  max-width: 100%;
  animation: pulse 8s infinite;
}

@keyframes pulse {
  0% {
    filter: drop-shadow(0px 0px 1px rgb(61, 61, 61));
  }
}

#btnLogin:hover {
  background-color: #ffcfa2;
  color: black;
  box-shadow: 2px 2px 6px rgba(0, 0, 0, 0.458);
}

#btnLogin {
  background-color: black;
  color: #ffcfa2;
  width: 320px;
  border-radius: 10px;
  box-shadow: 2px 2px 6px rgba(0, 0, 0, 0.458);
}

.errorContainer {
  font-size: 10px;
}

.card-body form label {
  color: #8c8c8c;
}


.textDontHaveAcc,
.linkRegister {
  font-size: 11px;
  padding-top: 10px;
}

.textDontHaveAcc {
  margin-right: 5px;
}

.linkRegister {
  text-decoration: none;
  color: black;
  font-weight: bold;
  cursor: pointer;
}

.linkRegister:hover {
  color: #ffcfa2;
}

.iconEyePass {
    cursor: pointer;
}

a:hover {
  color:#ffcfa2;
}

