
#SearchNavBar {
    width: 2em;
    border-radius: 20px;
}

#containerSearchNavBar{
    width: 400px;
}

#btnSearchNavBar{
    background-color: #ffb875;
    color: black;
    border-color: transparent;
}

#btnSearchNavBar:hover{
    background-color: black;
    color: #ffb875;
}

#qplTitle{
    font-size: 15px;
    font-weight: bold;
    color: black;
}

#qplLogoNavBar{
    width: 50px;
    width: 50px;
    margin-right: 10px;
    filter: drop-shadow(4px 4px 6px #c2c2c2);
}

.navBarLinks:hover{
    color: #ffb875;
}

#selectTypeSearch {
    width: 200px;
    border-style: none;
}

#selectTypeSearch:focus {
    box-shadow: none;  
}

#searchNavBar:focus{
    box-shadow: none;
    border-color: #ffb875;
    width: 450px;
}