
#SearchNavBar {
    width: 2em;
}

#containerSearchNavBar{
    width: 600px;
}

#btnSearchNavBar{
    background-color: #FF9F43;
    color: black;
    border-color: transparent;
}

#btnSearchNavBar:hover{
    background-color: black;
    color: #FF9F43;
}

#qplTitle{
    font-size: 20px;
    font-weight: bold;
    color: black;
    text-shadow: 3px 3px 2px #ff9f43;
}

#qplLogoNavBar{
    width: 60px;
    width: 60px;
    margin-right: 10px;
}

.navBarLinks:hover{
    color: #FF9F43;
}

