#containerSearchNavBar {
  width: 100%;
}

#btnSearchNavBar {
  background-color: #1C51C7;
  color: #FFF;
  border-color: transparent;
}

#btnSearchNavBar:hover {
  background-color: #1C1C1C;
  color: #FFB914;
}

#qplTitle {
  font-size: 15px;
  font-weight: bold;
  color: #ffffff;
}

#qplLogoNavBar {
  width: 2em;
}

.navBarLinks:hover {
  color: #fca331;
  cursor: pointer;
}

#selectTypeSearch {
  width: 10em;
  border-style: none;
}

#selectTypeSearch:focus {
  box-shadow: none;
}

#searchNavBar:focus{
  box-shadow: none;
}

#userProfilePhoto {
  width: 3.5rem;
  height: 3.5em;
  border-radius: 50%;
  background-size: cover;
  border: 3px solid #FFE199;
}


