@import url("http://fonts.cdnfonts.com/css/muli?styles=19919,19916,19912,19908");


.card {
    border-radius: 20px;
    width: 500px;
    font-family: "Muli", sans-serif;
}

.form-check-input {
    background-color: #ffb875;
}

.form-check-label {
    font-size: 12px;
}

#submitRegister{
    width: 100%;
    background-color: black;
    color: #ffb875;
    box-shadow: 2px 2px 6px rgba(0, 0, 0, 0.458);
    border-radius: 10px;
}

#submitRegister:hover{
    background-color: #ffb875;
    color: black;
}

input[type="checkbox"]{
    cursor: pointer;
}


