
.navLinkContainer:hover{
    background-color: #ffb875;
    border-radius: 5px;
}

.textAppVersionSideBar{
    font-size: .8em;
}

.btn{
    background-color: rgb(241, 241, 241);
}

#btnInfoTeamSideBar:hover, #btnContactSideBar:hover{
    background-color: #ffb875;
}



