
.navLinkContainer:hover{
    background-color: #ffcfa2;
    border-radius: 3px;
}

.textAppVersionSideBar{
    font-size: .8em;
}

.btn{
    background-color: rgb(241, 241, 241);
}

#btnInfoTeamSideBar:hover, #btnContactSideBar:hover{
    background-color: #ffcfa2;
}

.disabled{
    pointer-events: none;
    cursor: default;
}



