ul {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

ul li a:hover {
  cursor: pointer;
}

.btn {
  background-color: rgb(241, 241, 241);
}

.nav-link:hover {
  border-left: 2px solid #ffc814;
}

.containerImageMember {
  width: 8em;
  height: 8em;
  background-size: cover;
}

@media only screen and (min-width: 768px) {
  #qplLogoNavBar {
    display: none;
  }
}

@media only screen and (max-width: 768px) {
  #userProfilePhoto {
    width: 3rem;
    height: 3em;
  }
  .containerNameUser {
    display: none;
  }

  #qplLogoNavBar {
    display: inline;
  }
}

.nameUser {
  color: #ffe799;
}

.modal-header{
  background-color: #1C1c1c;
  color: #ffc814;
}

.containerImageMember{
  border-radius: 50%;
  border: 3px solid #ffc814;
}
