
#priceSellBook{
    color: #ffb875;
}

#booksPostContainer:hover {
    transform: scale(1.03);
    transition: all .5s;
}

#donationPostContainer:hover {
    transform: scale(1.03);
    transition: all .5s;
}

#swapPostContainer:hover{
    transform: scale(1.03);
    transition: all .5s;
}