@import url("https://fonts.cdnfonts.com/css/muli?styles=19919,19916,19912,19908");

.errorContainer {
    font-size: 10px;
}
#btnCreateEventModal{
    background-color: #1C51C7;
    color: white;
    border-color: transparent;
}

#btnCreateEventModal:hover{
    background-color: #88ACFC;
    color: black;
}