.imagen {
    height: 120px;
    object-fit: cover;
}

#infoEventsContainer:hover {
    transform: scale(1.03);
    transition: all .5s;
}

p {
    font-size: xx-small;
}

.gray-text {
    color: gray;
}

.orange-text {
    color: #ffb875;
}

.col {
    margin: 0;
}