#btnEditProfile {
  background-color: #1c51c7;
  color: white;
}

#btnEditProfile:hover {
  background-color: #88acfc;
  color: black;
}

.wrapper {
  max-height: 200px;
  max-width: 400px;
  display: flex;
  overflow-x: auto;
}

.wrapper::-webkit-scrollbar {
  width: 0;
}

.wrapper .item {
  min-width: 110px;
  height: 10em;
  line-height: 110px;
  text-align: center;
  margin-right: 10px;
}

#userProfilePhotoView {
  width: 10em;
  height: 10em;
  border-radius: 50%;
  background-size: cover;
  border: solid 6px white;
}

.containersProfile {
  background: repeating-linear-gradient(
    45deg,
    #616161,
    #616161 0.5px,
    #1c1c1c 0.5px,
    #1c1c1c 6px
  );
}
