#btnEditProfile #btnSendMessage {
  background-color: black;
  color: #ffcfa2;
}

#btnEditProfile:hover {
  background-color: #ffcfa2;
  color: #000000;
  border: 2px solid black;
}

#btnSendMessage {
  background-color: black;
  color: #ffcfa2;
}

#btnSendMessage:hover {
  background-color: #ffcfa2;
  color: #000000;
  border: 2px solid black;
}

.wrapper{
  max-height: 200px;
  max-width: 400px;
  display: flex;
  overflow-x: auto;
}

.wrapper::-webkit-scrollbar{
  width: 0;
}

.wrapper .item{
  min-width: 110px;
  height: 10em;
  line-height: 110px;
  text-align: center;
  margin-right: 10px;
}

#userProfilePhotoView {
    width: 10em;
    height: 10em;
    border-radius: 50%;
    background-size: cover;
    border: solid 6px white;
}
